tests/fixtures/schemas/test-tei.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
         ns="http://www.tei-c.org/ns/1.0"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="TEI">
      <element name="teiHeader">
        <element name="fileDesc">
          <element name="titleStmt">
            <element name="title">
              <text/>
            </element>
            <optional>
              <element name="author">
                <text/>
              </element>
            </optional>
          </element>
          <element name="publicationStmt">
            <element name="publisher">
              <text/>
            </element>
            <element name="date">
              <data type="string"/>
            </element>
          </element>
          <element name="sourceDesc">
            <element name="p">
              <text/>
            </element>
          </element>
        </element>
      </element>
      <element name="text">
        <element name="body">
          <zeroOrMore>
            <element name="p">
              <zeroOrMore>
                <choice>
                  <text/>
                  <element name="emph">
                    <text/>
                  </element>
                </choice>
              </zeroOrMore>
            </element>
          </zeroOrMore>
        </element>
      </element>
    </element>
  </start>
</grammar>
